<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="it.just.practicessssss.vo.Userinfo" alias="Userinfo" />
		<typeAlias type="it.just.practicessssss.vo.Minihome" alias="Minihome" />
		<typeAlias type="it.just.practicessssss.vo.Minihits" alias="Minihits" />
	</typeAliases>
	<mappers>
		<mapper resource="signupMapper.xml" />
		<mapper resource="minihomeMapper.xml" />
		<mapper resource="minihitsMapper.xml" />
	</mappers>
</configuration>