<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL -->
<mapper namespace="it.just.practicessssss.mapper.SignupMapper">
	<select id="idcheck" parameterType="String" resultType="int">
		select 
			count(userno)
		from
			USERINFO
		where
			USERID = #{userid}
	</select>
	
	<insert id="insertUserinfo" parameterType="Userinfo">
		insert into USERINFO(
			USERNO
			, USERID
			, USERPW
			, USERNAME
			, USERPHONE
			, USERBIRTH
		) values(
			USERNO_SEQ.nextval
			, #{userid}
			, #{userpw}
			, #{username}
			, #{userphone}
			, #{userbirth}
		)
	
	</insert>

</mapper>